* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./img/img1.png);
    color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ul-list {
    border: 2px solid white;
}