* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header {
    background-image: url(./img/img1.png);
    width: 100vw;
    height: 100vh;
    color: white;
    background-size: cover; /* or contain */
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
/* navbar styling  */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 50px;
    /* border: 2px solid red; */
    /* overflow: hidden; */
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    padding: 0px 50px;
    flex-wrap: wrap;
}
/* navigation links */
.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
    /* border: 2px solid green; */
    padding: 10px;
}
.nav-links li {
    font-size: 1.2rem;
    cursor: pointer;
}

/* logo  */
.logo img {
    height: 78px;
    width: 246px;
    margin-left: 40px;
    /* padding-left: 50px; */
}

/* social-icons  */
.social-icons {
    display: flex;
    gap: 20px;
    list-style: none;
}

.social-icons li i {
    font-size: 1.2rem;
    cursor: pointer;
}

/* hero text  */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 2px solid green; */
    padding: 50px;
}

.hero-text h1 {
    font-size: 3.4rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2 rem;
    margin-bottom: 30px;
    margin-top: 20px;
    word-spacing: 0.3rem;
}

/* button */
.btn {
    background-color: #2091F9;
    color: white;
    height: 45px;
    width: 160px;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}


/* feature section  */
.feature {
    /* border: 2px solid red; */
    text-align: center;
    padding: 20px;
    /* width: 70vw; */
    align-self: center;
    /* margin-left: 28vh; */
}

.fea-first p {
    margin-top: 10px;
}

.fea-sec {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5vh;
    /* margin-bottom: 10vh; */
}

.fea-sec .card {
    /* border: 2px solid pink; */
    height: 250px;
    width: 300px;
    padding: 20px;
}

.fea-sec .card img {
    /* border: 2px solid orange; */
    height: 70px;
}
.card h4 {
    padding: 10px;
}
.fea-third img{
    /* border: 2px solid aqua; */
    width: 70vw;
}


.text-img {
    /* border: 2px solid blue; */
    /* width: 70vw; */
    margin: 50px 0px;
}
.text-first-div{
    /* border: 2px solid red; */
    height: 300px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-first-div p {
    margin: 20px;
}
.text-first-div h4 {
    margin-top: 30px;
    font-weight: lighter;
    font-size: 2rem;
}

.text-sec-div {
    /* border: 2px solid green; */
    height: 300px;
}
.text-sec-div img{
    /* border: 5px solid pink; */
    height: 250px;
    margin-top: 20px;
}

/* text second container  */
.text-img-cont-sec {
    /* border: 2px solid red; */
    margin: 80px 0px;
}

.img-cont {
    padding: 20px;
}
.img-sec {
    /* border: 2px solid green; */
    height: 300px;
    width: 400px;
}
.img-text-cont {
    /* border: 2px solid black; */
    height: 350px;
    width: 400px;
    display: flex;
    font-size:large;
    font-weight: lighter;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.img-text-cont h6 {
    margin: 20px 0px;
}
.input-btn {
    /* border: 2px solid orange; */
    margin-top: 20px;
    padding: 10px 0px;
}
.input-btn input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    color: gray;
}
.sub {
    width: 100px;
    height: 30px;
}

/* content css */
.content {
    /* border: 2px solid red; */
    text-align: center;
    padding: 30px;
}

.text-content {
    /* border: 2px solid green; */
    padding: 20px;
}
.text-content h2,h4 {
    font-weight: lighter;
    margin: 10px;
}

.items {
    /* border: 2px solid blue; */
    padding: 20px;
}

.row .partner {
    border-left: 1px solid;
    border-top: 1px solid;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    /* align-items: center; */
}

.partner h6 {
    margin-bottom: 20px;
}

.right {
    border-right: 1px solid;
}

.bottom {
    border-bottom: 1px solid;
}